/* #A4C4B7; Green*/
/* #5f8578 Darker Green Button:active */
/* #fcfaf8 Beige*/
/* #e8e5e0; Button Dark Beige */
/* #d6d1cb  Beige */
/* #d6d1cb Button:Active Darker Beige */
/* #b2a496 Darkest Beige */

.mainPage {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.logoSection {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(164, 196, 183);
}

.loginSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginSignup {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.loginSignupButton {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.loginForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inputForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 16px;
	padding: 20px;
	width: 260px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 1px #d6d1cb;
}

@media (max-width: 600px) {
	.mainPage {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
	}

	.logoSection {
		flex: 1;
		height: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(164, 196, 183);
	}
	.loginSection {
		flex: 5;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateY(-8%);
	}

	.name {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
	}
}

.bt {
	height: 100%;
	padding: 10px;
}

.bt:hover {
	background-color: #7c9e9167;
}

.bt:active {
	background-color: #5f8578;
}

.name {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(7px, calc(1rem + 15vw), 200px);
}

.regButton {
	border: solid 1px e6e2dd;
	width: 80px;
	height: 40px;

	border-radius: 12px;
	background-color: #e8e5e0;
}

.regButton:hover {
	background-color: #e8e5e07c;
	transform: scale(106%);
	transition: 10ms ease-in;
}

.regButton:active {
	/* background-color: #e8e5e036; */
	border: solid 1px black inset;
	color: rgb(63, 63, 63);
	animation: btActive 20ms ease-in-out;
}

@keyframes btActive {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(85%);
	}
	100% {
		transform: scale(100%);
	}
}

.formInput {
	border: solid 1px rgb(182, 182, 182);
	padding: 5px;
	border-radius: 3px;
}

.formMessage {
	color: red;
	font-size: 14px;
	animation: message 0.5s ease forwards;
	margin-bottom: 5px;
}

@keyframes message {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.welcome {
	display: flex;
	padding: 20px;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.createWindow {
	position: fixed;
	top: 0px;
	left: -7px;
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: rgba(90, 90, 90, 0.452);
}

.createWindow {
	backdrop-filter: blur(4px);
	animation: blurBG 0.2s ease forwards;
}

@keyframes blurBG {
	from {
		backdrop-filter: blur(0px);
	}
	to {
		backdrop-filter: blur(4px);
	}
}

.postForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
	width: 500px;
	height: 512px;
	background-color: #d6d1cb;
	border-radius: 15px;
	box-shadow: 0px 0px 6px 1px rgba(90, 90, 90, 0.349);
	gap: 10px;
	animation: postWindow 0.25s ease forwards;
}

@keyframes postWindow {
	from {
		opacity: 0;
		transform: scale(99%);
	}
	to {
		opacity: 1;
		transform: scale(100%);
	}
}

.imageLabel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#caption {
	flex: 1;
	text-align: center;
	width: 100%;
	background-color: white;
	border-radius: 4px;
}

/* #caption:hover {
	border: rgb(153, 153, 153) 2px solid;
	transition: 0.2ms ease;
} */

#caption:active {
	border: rgb(153, 153, 153) 2px solid;
}

#fileArea {
	display: flex;
	border: 1px dashed #b2a496;
	justify-content: center;
	align-items: center;
	flex: 7;
	width: 100%;
	background-color: white;
	border-radius: 4px;
}

/* #filepath:focus-visible {
	border: rgb(153, 153, 153) 2px solid;
} */

#fileArea:active {
	background-color: #e8e5e0;
	color: #e8e5e0;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: rgb(164, 196, 183);
	box-shadow: 0 1px 2px -1px;
}

.customFont {
	flex: 1;
	padding-left: 20px;
	width: 180px;
	font-size: 16px;
	font-weight: 500;
}

.navButtons {
	flex: 1;
	display: flex;
	justify-content: center;
	width: 200px;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
}

.searchContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 6px;
	width: 100%;
	height: 90vh;
	text-align: right;
}

.searchBar {
	width: 550px;
	height: 50px;
	margin-top: 50px;
	background-color: white;
	border: #b2a496 solid 1px;
	border-radius: 15px;
	text-align: center;
}

.searchBar:hover {
	background-color: #f3f4f6;
}

.searchBar:active {
	background-color: #e5e7eb;
}

.searchSection {
	width: 100%;
	height: 100vh;
}

.resultSection {
	width: 550px;
	height: 75vh;
	padding: 5px;
	animation: result 0.25s ease forwards;
}

.result {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	border-bottom: lightgray 1px solid;
}

.result:hover {
	background-color: #e8e5e013;
}

.result:active {
	background-color: #e8e5e0;
}

.noresult {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	border-bottom: lightgray 1px solid;
}

@keyframes result {
	from {
		opacity: 0;
		transform: translateY(-1%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.gridcontainer {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-bottom: 20px;
}

.postsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	border-radius: 4px;
}

/* .postCard {
	border-radius: 3px;
	padding: 4px;
	background-color: #000000;
} */

.cardImage {
	display: flex;
	justify-content: center;
	border-radius: 2px;
	width: 300px;
	height: 400px;
	align-items: center;
}

.image {
	/* border-radius: 2px; */
	width: 100%;
	height: 100%;
}

@media (max-width: 1245px) {
	.cardImage {
		height: 320px;
		width: 240px;
	}
}

@media (max-width: 1005px) {
	.cardImage {
		height: 240px;
		width: 180px;
	}
}

@media (max-width: 750px) {
	.cardImage {
		height: 160px;
		width: 120px;
	}
}

@media (max-width: 430px) {
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 70px;
		background-color: rgb(164, 196, 183);
		box-shadow: 0 1px 2px -1px;
	}

	.customFont {
		display: none;
	}

	.navButtons {
		flex: 1;
		display: flex;
		justify-content: center;
		width: 390px;
		height: 100%;
		font-size: 18px;
		font-weight: 500;
	}

	.searchContainer {
		display: none;
	}

	.gridcontainer {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	.postsContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	/* iPhone Screen */
	.cardImage {
		height: 160px;
		width: 120px;
	}
}

@media (max-width: 376px) {
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 70px;
		background-color: rgb(164, 196, 183);
		box-shadow: 0 1px 2px -1px;
	}

	.customFont {
		display: none;
	}

	.navButtons {
		flex: 1;
		display: flex;
		justify-content: center;
		width: 390px;
		height: 100%;
		font-size: 18px;
		font-weight: 500;
	}

	.searchContainer {
		display: none;
	}

	.gridcontainer {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	.postsContainer {
		display: grid;
		grid-template-columns: repeat(3);
	}
	/* iPhone Screen */
	.cardImage {
		height: 140px;
		width: 105px;
	}
}

.cardCaption {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	font-size: 14px;
	background-color: #d6d1cb;
}

.noPostContainer {
	width: 100%;
	height: 80vh;
	/* padding-top: 1%; */
	display: flex;
	justify-content: center;
}

.noPostCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
	width: 650px;
	height: 512px;
	background-color: #fcfaf8;
	border-radius: 15px;
	box-shadow: 0px 0px 6px 0px rgba(90, 90, 90, 0.349);
}

.noPostMessage {
	font-size: 23px;
}

.loadingScreen {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.dot {
	animation: bounce 1200ms ease-in-out infinite;
	opacity: 0;
}
.dot:nth-child(1) {
	animation-delay: 0ms;
}
.dot:nth-child(2) {
	animation-delay: 200ms;
}
.dot:nth-child(3) {
	animation-delay: 400ms;
}

@keyframes bounce {
	0%,
	80%,
	100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}

/* #A4C4B7; Green*/
/* #5f8578 Darker Green Button:active */
/* #fcfaf8 Beige*/
/* #e8e5e0; Button Dark Beige */
/* #d6d1cb  Beige */
/* #d6d1cb Button:Active Darker Beige */
/* #b2a496 Darkest Beige */
